use flake
# For whatever reason, $PWD is not available in dotenv
export REPO_ROOT="$(pwd)"

export PGHOST=localhost
export PGUSER=postgres

dotenv_if_exists

# Useful if you want to include any personal config
# or secrets in environment variables
source_env_if_exists .envrc.personal
dotenv_if_exists .env.personal

